#maincontainer {
  display: flex;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 20px;
}
#pagetitle {
  color: rgb(219, 255, 255);
  text-shadow: 1px 1px 5px rgb(23, 48, 48);
}
button {
  background-color: aqua;
  border-color: aqua;
  border-radius: 10px;
}
